# <strong><font color="7b71ff">IA aplicada a Data Science: Utilizando IA en la construcci√≥n de visualizaciones de datos</font></strong>


---

<img src="https://raw.githubusercontent.com/alura-cursos/ia-datascience-dataviz/main/imagens/logos/logo_branca_fundo_azul.png" alt="inserir alt">

# **Aula 1 - Conociendo los datos**

 Zoop es una gran minorista que atiende a todas las regiones de M√©xico a trav√©s de su e-commerce. Es conocida por la amplia variedad de productos que ofrece, buscando satisfacer a todo tipo de p√∫blico. Posee una serie de centros de distribuci√≥n (CDs) para la entrega de sus productos, la mayor√≠a de ellos situados en el estado de Mexico.

Para gestionar su alcance, as√≠ como la facturaci√≥n de su sector en tiendas online, consolida los datos en diferentes per√≠odos de tiempo y eval√∫a estos datos para generar insights y tomar decisiones estrat√©gicas en su negocio. En este proyecto, tendremos acceso a los datos de parte de su clientela de e-commerce durante el a√±o 2023.

T√∫, como analista de datos de la empresa, necesitar√°s generar visualizaciones que ayuden en la elaboraci√≥n de informes de acuerdo con algunas premisas proporcionadas por las partes interesadas, realizando un r√°pido an√°lisis de la clientela que tenemos en la tienda virtual y de la facturaci√≥n de la empresa.

**Problema de negocio:**

El equipo de datos de Zoop necesita extraer los datos y generar informaci√≥n a trav√©s de visuales que puedan presentarse a la directiva de la empresa, destacando los datos de facturaci√≥n, perfil del cliente y otros indicadores que puedan ayudar en la toma de decisiones en su tienda online.

**Base de datos**

Vamos a importar dos bases de datos:

Datos de los clientes del e-commerce de Zoop, separados por el c√≥digo identificador de la compra.

Datos de ventas del e-commerce de Zoop en 2023, separados por el c√≥digo identificador de la compra.

Estos datos se leer√°n desde el repositorio compartido en GitHub.

**Desaf√≠o**

T√∫, como analista de datos del equipo de datos de Zoop, tienes el desaf√≠o de extraer los datos de ambas bases y construir visualizaciones que puedan agregar valor a la presentaci√≥n de los resultados de Zoop en 2023. Para ello, se te presentar√°n 7 preguntas para que puedas contribuir en la construcci√≥n del storytelling de las ventas de la empresa.

Para agilizar el proceso de an√°lisis exploratorio de datos (AED) y la creaci√≥n de visuales, utilizaremos la IA de ChatGPT como nuestra asistente, teniendo en cuenta el corto plazo para los an√°lisis y la calidad de la entrega.

## **1.2 - Obteniendo los datos**

---

Vamos inicialmente a proveer el link del repositorio con las dos bases que utilizaremos en el proyecto:

In [1]:
url_clientes = "https://gist.githubusercontent.com/ahcamachod/d08898e1cc84c7271856e78d9558ca3d/raw/2f7e1fa53711efe6433a5c5ec79948f600591cb9/clientes_zoop.csv"
url_ventas = "https://gist.githubusercontent.com/ahcamachod/966d7162a3c3a2769b8770b35abf1bcc/raw/d79941b3fa46a450f3611589abd8663399c1277b/ventas_zoop.csv"

Despu√©s de esta etapa, vamos a crear 2 dataframes con los datos de los clientes y de las ventas de Zoop separadamente y realizar una peque√±a verificaci√≥n en las tablas extra√≠das.

In [2]:
# importamos las bibliotecas

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import warnings

warnings.filterwarnings('ignore')

In [3]:
# dataframe

clientes = pd.read_csv(url_clientes)
ventas = pd.read_csv(url_ventas)

In [4]:
clientes.head()

,ID_compra,ID_cliente,ciudad,estado,region,edad,sexo_biologico,cashback,nota
0,904,8972,Oaxaca de Ju√°rez,Oaxaca,Sur,49,Masculino,No,9
1,4613,5120,Ciudad de M√©xico,Ciudad de M√©xico,Centro,49,Femenino,No,9
2,5579,1847,Ciudad de M√©xico,Ciudad de M√©xico,Centro,24,Femenino,No,8
3,2405,2846,Ciudad de M√©xico,Ciudad de M√©xico,Centro,38,Femenino,S√≠,7
4,2485,2715,Chihuahua,Chihuahua,Noroeste,30,Femenino,No,10

In [5]:
ventas.tail()

,ID_compra,fecha,horario,categoria,precio_unitario,cantidad,envio,metodo_pago
6164,6141,2023-12-31,17:49,Electrodom√©sticos,1509.9,5,377.48,Tarjeta de Cr√©dito
6165,6148,2023-12-31,23:02,Papeler√≠a y oficina,14.0,2,3.36,Transferencia
6166,6123,2023-12-31,21:25,Alimentos y bebidas,77.9,1,7.79,Tarjeta de Cr√©dito
6167,6147,2023-12-31,21:38,Libros,142.9,4,17.15,Tarjeta de Cr√©dito
6168,6122,2023-12-31,22:11,Belleza e higiene,89.9,5,13.48,Tarjeta de Cr√©dito

## **1.3 - Entendiendo los datos**

---

Ahora, vamos a explorar los datos comprendiendo lo que significan y c√≥mo podemos relacionarlos en la construcci√≥n de las visualizaciones.

### **Base de clientes**

> #### <strong><font color="7b71ff" size =6>Prompt:</font></strong>

Vamos a actuar como analistas de datos de una e-commerce. Recibimos dos bases de datos con los datos de los clientes y de las ventas en 2023, respectivamente.

En este primer momento, vamos a explorar la base de clientes en formato de un DataFrame de pandas, llamado "clientes". Contiene datos de los clientes que realizaron compras en la tienda virtual, siendo estos: ID de la compra, ID del cliente, la ciudad, estado y regi√≥n de la compra, edad, sexo biol√≥gico, si participan en el programa de cashback y la calificaci√≥n, o nota, de la compra.

Queremos hacer una breve exploraci√≥n de los datos para comprender un poco sobre ellos. Recordando que los datos de esta base ya est√°n limpios y tratados. Construye el c√≥digo para ejecutar esta etapa utilizando Python con el objetivo de conocer mejor el dataframe "clientes" y algunos de sus atributos.

No es necesario utilizar "print()" para mostrar el resultado de las consultas.

# Ver las primeras 5 filas del DataFrame
clientes.head()

# Ver las √∫ltimas 5 filas del DataFrame
clientes.tail()

# Ver las dimensiones del DataFrame (n√∫mero de filas y columnas)
clientes.shape

# Ver los nombres de las columnas
clientes.columns

# Ver el tipo de datos de cada columna
clientes.dtypes

# Ver informaci√≥n general del DataFrame
clientes.info()

# Ver estad√≠sticas descriptivas de las columnas num√©ricas
clientes.describe()

# Ver estad√≠sticas descriptivas de las columnas categ√≥ricas
clientes.describe(include='object')

# Ver cu√°ntos valores √∫nicos hay en cada columna
clientes.nunique()

# Ver si hay valores nulos en el DataFrame
clientes.isnull().sum()

# Ver un resumen general del DataFrame (num√©rico y categ√≥rico)
clientes.describe(include='all')

In [6]:
clientes.columns

Index(['ID_compra', 'ID_cliente', 'ciudad', 'estado', 'region', 'edad',
       'sexo_biologico', 'cashback', 'nota'],
      dtype='object')

In [7]:
clientes.isnull().sum()

ID_compra         0
ID_cliente        0
ciudad            0
estado            0
region            0
edad              0
sexo_biologico    0
cashback          0
nota              0
dtype: int64

In [8]:
clientes.dtypes

ID_compra          int64
ID_cliente         int64
ciudad            object
estado            object
region            object
edad               int64
sexo_biologico    object
cashback          object
nota               int64
dtype: object

In [9]:
clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6169 entries, 0 to 6168
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID_compra       6169 non-null   int64
 1   ID_cliente      6169 non-null   int64
 2   ciudad          6169 non-null   object
 3   estado          6169 non-null   object
 4   region          6169 non-null   object
 5   edad            6169 non-null   int64
 6   sexo_biologico  6169 non-null   object
 7   cashback        6169 non-null   object
 8   nota            6169 non-null   int64
dtypes: int64(4), object(5)
memory usage: 433.9+ KB

In [10]:
clientes.describe()

         ID_compra   ID_cliente         edad         nota
count  6169.000000  6169.000000  6169.000000  6169.000000
mean   3085.000000  5461.475280    38.260010     8.443670
std    1780.981237  2610.959977     9.838951     1.730584
min       1.000000  1005.000000    18.000000     0.000000
25%    1543.000000  3148.000000    31.000000     8.000000
50%    3085.000000  5436.000000    38.000000     9.000000
75%    4627.000000  7748.000000    45.000000     9.000000
max    6169.000000  9999.000000    70.000000    10.000000

In [11]:
clientes['sexo_biologico'].value_counts()

sexo_biologico
Femenino     3371
Masculino    2798
Name: count, dtype: int64

In [12]:
clientes['cashback'].value_counts()

cashback
No    3557
S√≠    2612
Name: count, dtype: int64

### **Base de ventas**

> #### <strong><font color="7b71ff" size =6>Prompt:</font></strong>

Ahora vamos explorar la base de ventas en formato de un DataFrame, llamado "ventas". Contiene datos de las ventas del comercio electr√≥nico, que son: ID de la compra, fecha de la compra, hora de la compra, categor√≠a del producto, precio unitario del producto, cantidad vendida, env√≠o y el m√©todo de pago.

Queremos hacer una breve exploraci√≥n de los datos para comprender un poco sobre ellos. Recordando que los datos de esta base tambi√©n est√°n limpios y tratados. Construye el c√≥digo para ejecutar esta etapa utilizando Python con el objetivo de conocer mejor el dataframe "clientes" y algunos de sus atributos.

# Ver las primeras 5 filas del DataFrame
ventas.head()

# Ver las √∫ltimas 5 filas del DataFrame
ventas.tail()

# Ver las dimensiones del DataFrame (n√∫mero de filas y columnas)
ventas.shape

# Ver los nombres de las columnas
ventas.columns

# Ver el tipo de datos de cada columna
ventas.dtypes

# Ver informaci√≥n general del DataFrame
ventas.info()

# Ver estad√≠sticas descriptivas de las columnas num√©ricas
ventas.describe()

# Ver estad√≠sticas descriptivas de las columnas categ√≥ricas
ventas.describe(include='object')

# Ver cu√°ntos valores √∫nicos hay en cada columna
ventas.nunique()

# Ver si hay valores nulos en el DataFrame
ventas.isnull().sum()

# Ver un resumen general del DataFrame (num√©rico y categ√≥rico)
ventas.describe(include='all')

# Ver las categor√≠as de productos m√°s vendidas
ventas['categor√≠a del producto'].value_counts()

# Ver los tipos de env√≠o m√°s comunes
ventas['env√≠o'].value_counts()

# Ver los m√©todos de pago m√°s utilizados
ventas['m√©todo de pago'].value_counts()

# Ver las fechas m√≠nimas y m√°ximas de las compras
ventas['fecha de la compra'].min(), ventas['fecha de la compra'].max()

# Ver las horas m√°s frecuentes de compra (puede mostrar patrones de comportamiento por horario)
ventas['hora de la compra'].value_counts().sort_index()

In [13]:
ventas.head()

,ID_compra,fecha,horario,categoria,precio_unitario,cantidad,envio,metodo_pago
0,6,2023-01-03,20:40,Electr√≥nicos,4457.9,4,713.26,Paypal
1,5,2023-01-03,21:48,Herramientas y construcci√≥n,115.9,1,0.00,Transferencia
2,9,2023-01-03,17:08,Belleza e higiene,68.9,2,13.78,Tarjeta de Cr√©dito
3,4,2023-01-03,14:29,Herramientas y construcci√≥n,80.9,5,40.45,Transferencia
4,8,2023-01-03,18:02,Belleza e higiene,165.0,4,0.00,Transferencia

In [14]:
ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6169 entries, 0 to 6168
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID_compra        6169 non-null   int64
 1   fecha            6169 non-null   object
 2   horario          6169 non-null   object
 3   categoria        6169 non-null   object
 4   precio_unitario  6169 non-null   float64
 5   cantidad         6169 non-null   int64
 6   envio            6169 non-null   float64
 7   metodo_pago      6169 non-null   object
dtypes: float64(2), int64(2), object(4)
memory usage: 385.7+ KB

In [15]:
ventas['fecha'] = pd.to_datetime(ventas['fecha'], format='%Y-%m-%d')

In [16]:
ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6169 entries, 0 to 6168
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID_compra        6169 non-null   int64
 1   fecha            6169 non-null   datetime64[ns]
 2   horario          6169 non-null   object
 3   categoria        6169 non-null   object
 4   precio_unitario  6169 non-null   float64
 5   cantidad         6169 non-null   int64
 6   envio            6169 non-null   float64
 7   metodo_pago      6169 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(2), object(3)
memory usage: 385.7+ KB

In [17]:
ventas.describe()

,ID_compra,fecha,precio_unitario,cantidad,envio
count,6169.000000,6169,6169.000000,6169.000000,6169.000000
mean,3085.000000,2023-08-20 00:12:22.292105984,873.234738,3.004863,119.233832
min,1.000000,2023-01-03 00:00:00,2.900000,1.000000,0.000000
25%,1543.000000,2023-05-30 00:00:00,44.900000,2.000000,0.320000
50%,3085.000000,2023-08-31 00:00:00,93.900000,3.000000,7.550000
75%,4627.000000,2023-11-23 00:00:00,221.900000,4.000000,29.240000
max,6169.000000,2023-12-31 00:00:00,8000.000000,5.000000,4521.540000
std,1780.981237,NaN,1852.064342,1.420725,366.149225

## **1.4 - Tipos de gr√°ficos**

---

Ya hemos explorado un poco de las dos bases del proyecto y obtuvimos algunos insights interesantes que pueden ser importantes en la construcci√≥n de nuestras visualizaciones.

Ahora, intentemos simplificar nuestro an√°lisis consolidando los datos en una √∫nica tabla para, a partir de ah√≠, enfocarnos en las posibilidades de visuales combinando los datos. ¬øPodr√° GPT ayudarnos aqu√≠?

> #### <strong><font color="7b71ff" size =6>Prompt:</font></strong>

Ahora vamos a unir las dos bases de nuestro proyecto en una sola utilizando como llave la columna "ID_compra". Adem√°s, organizaremos las columnas en la siguiente secuencia:

* ID_compra
* fecha
* horario
* categoria
* precio_unitario
* cantidad
* envio
* metodo_pago
* ID_cliente
* edad
* sexo_biologico
* ciudad
* estado
* region
* cashback
* nota

Construye un c√≥digo para ejecutar esta etapa usando Python y la biblioteca Pandas.

In [22]:
# Unir los DataFrames usando la columna 'ID_compra' como llave

df = pd.merge(ventas, clientes, on='ID_compra', how='inner')

# Reordenar las columnas

df = df[[
    'ID_compra',
    'fecha',
    'horario',
    'categoria',
    'precio_unitario',
    'cantidad',
    'envio',
    'metodo_pago',
    'ID_cliente',
    'edad',
    'sexo_biologico',
    'ciudad',
    'estado',
    'region',
    'cashback',
    'nota'
]]

# Mostrar las primeras filas del DataFrame unificado

df.head()

,ID_compra,fecha,horario,categoria,precio_unitario,cantidad,envio,metodo_pago,ID_cliente,edad,sexo_biologico,ciudad,estado,region,cashback,nota
0,6,2023-01-03,20:40,Electr√≥nicos,4457.9,4,713.26,Paypal,6149,30,Masculino,Hermosillo,Sonora,Noroeste,S√≠,10
1,5,2023-01-03,21:48,Herramientas y construcci√≥n,115.9,1,0.00,Transferencia,9491,36,Masculino,Ciudad de M√©xico,Ciudad de M√©xico,Centro,S√≠,8
2,9,2023-01-03,17:08,Belleza e higiene,68.9,2,13.78,Tarjeta de Cr√©dito,5288,39,Femenino,Aguascalientes,Aguascalientes,Centro-Norte,No,7
3,4,2023-01-03,14:29,Herramientas y construcci√≥n,80.9,5,40.45,Transferencia,9679,35,Masculino,Veracruz,Veracruz,Golfo,S√≠,9
4,8,2023-01-03,18:02,Belleza e higiene,165.0,4,0.00,Transferencia,1380,50,Masculino,Ciudad de M√©xico,Ciudad de M√©xico,Centro,No,9

Ahora le pediremos a ChatGPT ideas de visuales que podamos contruir con esos datos

> #### <strong><font color="7b71ff" size =6>Prompt:</font></strong>

Ahora con nuestro "df" ya construido a partir de las dos bases del proyecto, vamos a iniciar un nuevo proceso. Queremos comenzar la etapa de generaci√≥n de visuales que puedan ayudar en el an√°lisis de la facturaci√≥n a lo largo del a√±o, el perfil del cliente y otros datos que puedan ser relevantes para el an√°lisis y la construcci√≥n de nuestra narrativa.

Las columnas de "df" son:

* ID_compra: n√∫mero √∫nico asignado a la compra realizada, en formato int
* fecha: fecha de la compra, en formato datetime
* horario: hora de la compra, en formato object
* categoria: categor√≠a del producto, en formato object
* precio_unitario: precio de una unidad del producto, en formato float
* cantidad: cantidad vendida del producto, en formato int
* envio: costo de env√≠o a ser pagado en total de la compra, en formato float
* metodo_pago: m√©todo de pago de la compra, en formato object
* ID_cliente: n√∫mero √∫nico asignado al cliente, en formato int
* edad: edad del cliente, en formato int
* sexo_biologico: sexo biol√≥gico del cliente, en formato object
* ciudad: ciudad del cliente, en formato object
* estado: estado del cliente, en formato object
* region: regi√≥n del cliente, en formato object
* cashback: si el cliente participa o no en el programa de cashback de la tienda, en formato object
* nota: evaluaci√≥n del cliente por la compra, en formato int

El objetivo es abstraer y buscar relaciones para construir visualizaciones interesantes para el an√°lisis de los datos de los clientes y ventas de Zoop.

Con base en la informaci√≥n proporcionada, ¬øqu√© tipos de visualizaciones ser√≠an √∫tiles para alcanzar el objetivo de analizar los datos?

üßæ Facturaci√≥n y ventas a lo largo del tiempo
Facturaci√≥n mensual

Gr√°fico de l√≠neas: total facturado por mes.

Objetivo: identificar estacionalidad, picos o ca√≠das en ventas.

C√°lculo: precio_unitario * cantidad + envio.

Cantidad de ventas por mes

Gr√°fico de barras o l√≠neas.

Objetivo: ver si los ingresos est√°n correlacionados con volumen de ventas o con ticket promedio.

Ingresos por categor√≠a de producto (mensual o anual)

Gr√°fico de barras apiladas o de √°rea.

Objetivo: identificar qu√© categor√≠as generan m√°s ingresos y c√≥mo evolucionan.

üë• Perfil del cliente
Distribuci√≥n de edad de los clientes

Histograma o gr√°fico de densidad.

Objetivo: entender los rangos de edad predominantes.

Distribuci√≥n por sexo biol√≥gico

Gr√°fico de torta o barras.

Objetivo: saber si hay un sesgo en el perfil de cliente seg√∫n g√©nero.

Participaci√≥n en el programa de cashback por perfil

Barras agrupadas por edad, sexo o regi√≥n vs. participaci√≥n en cashback.

Objetivo: identificar qu√© tipo de cliente valora m√°s el cashback.

üåé An√°lisis geogr√°fico
Facturaci√≥n por regi√≥n o estado

Gr√°fico de barras o mapa (si usas geopandas/plotly).

Objetivo: ver qu√© regiones aportan m√°s al negocio.

N√∫mero de compras por ciudad

Gr√°fico de barras.

Objetivo: identificar ciudades con mayor volumen de compras.

üí≥ M√©todos de pago y comportamiento de compra
Distribuci√≥n de m√©todos de pago

Gr√°fico de torta o barras.

Objetivo: entender preferencias de pago.

M√©todo de pago vs. ticket promedio

Boxplot por m√©todo de pago.

Objetivo: ver si algunos m√©todos se usan para compras m√°s caras.

‚è∞ Comportamiento seg√∫n horario
Compras por hora del d√≠a

Gr√°fico de l√≠neas o barras.

Objetivo: identificar horas pico de compra.

Nota promedio seg√∫n horario o categor√≠a

Heatmap.

Objetivo: detectar patrones de satisfacci√≥n seg√∫n contexto de compra.

‚≠ê Satisfacci√≥n del cliente
Distribuci√≥n de notas

Histograma o gr√°fico de barras.

Objetivo: medir la satisfacci√≥n general.

Nota promedio por categor√≠a

Barras.

Objetivo: saber qu√© productos generan mejores experiencias.

üîÅ Relaciones cruzadas
Edad vs. nota

Diagrama de dispersi√≥n.

Objetivo: saber si la edad influye en la satisfacci√≥n.

Cantidad vs. nota

Dispersi√≥n.

Objetivo: ver si la satisfacci√≥n cambia con la cantidad comprada.

Ticket promedio por grupo (sexo, regi√≥n, cashback)

Barras.

Objetivo: encontrar patrones de valor por cliente.

Extra (opcional si tienes tiempo)
Dashboards con m√∫ltiples visualizaciones usando Plotly, Seaborn, Matplotlib o Power BI