# **Datos xlxs**

In [1]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\rrs23\anaconda3\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\rrs23\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [2]:
# importar los datos

import pandas as pd
import numpy as np


datos = pd.read_excel('emisiones_CO2.xlsx', engine='openpyxl')


print(datos.shape)

(63104, 11)

In [3]:
datos

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros,Per Capita
0,Afganistán,AFG,1750,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afganistán,AFG,1751,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afganistán,AFG,1752,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afganistán,AFG,1753,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afganistán,AFG,1754,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
63099,Global,WLD,2017,3.609674e+10,1.450697e+10,1.224263e+10,7.144928e+09,1.507923e+09,391992176.0,302294047.0,4749682.0
63100,Global,WLD,2018,3.682651e+10,1.474683e+10,1.226602e+10,7.529847e+09,1.569218e+09,412115746.0,302478706.0,4792753.0
63101,Global,WLD,2019,3.708256e+10,1.472598e+10,1.234565e+10,7.647528e+09,1.617507e+09,439253991.0,306638573.0,4775633.0
63102,Global,WLD,2020,3.526409e+10,1.417456e+10,1.119181e+10,7.556290e+09,1.637538e+09,407583673.0,296301685.0,4497423.0
63103,Global,WLD,2021,3.712385e+10,1.497960e+10,1.183716e+10,7.921829e+09,1.672592e+09,416525563.0,296145746.0,4693699.0

In [4]:
type(datos)

pandas.core.frame.DataFrame

# **ver las hojas del archivo**

In [5]:
# se ven las hojas del archivo

pd.ExcelFile('emisiones_CO2.xlsx').sheet_names

['emisiones_C02', 'emisiones_percapita', 'fuentes']

In [6]:
# llamar una hoja y debemos hacer variable para trabajar esa hoja

percapita = pd.read_excel('emisiones_CO2.xlsx', sheet_name='emisiones_percapita')

In [7]:
# primeras 5 filas

percapita.head()

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros
0,Afganistán,AFG,1750,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afganistán,AFG,1751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afganistán,AFG,1752,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afganistán,AFG,1753,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afganistán,AFG,1754,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# ultimas 5 filas

percapita.tail()

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros
63099,Global,WLD,2017,4749682.0,1908857.0,1610910.0,940144.0,198416.0,51579.0,39776.0
63100,Global,WLD,2018,4792753.0,1919213.0,1596350.0,979965.0,204225.0,53634.0,39366.0
63101,Global,WLD,2019,4775633.0,1896468.0,1589920.0,984878.0,208309.0,56569.0,39490.0
63102,Global,WLD,2020,4497423.0,1807760.0,1427353.0,963695.0,208844.0,51981.0,37789.0
63103,Global,WLD,2021,4693699.0,1893923.0,1496614.0,1001585.0,211472.0,52663.0,37443.0

In [9]:
# datos aleatorios

percapita.sample(5)

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros
49173,San Tome Y Principe,STP,1963,104281.0,0.0,104281.0,0.0,0.0,0.0,NaN
19995,Polinesio Francés,PYF,1889,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26090,Irak,IRQ,2000,2911850.0,0.0,2504370.0,239071.0,94173.0,74236.0,NaN
50989,Eslovaquia,SVK,1875,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47466,Ruanda,RWA,1888,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# llamar una hoja y debemos hacer variable para trabajar esa hoja


fuentes = pd.read_excel('emisiones_CO2.xlsx', sheet_name='fuentes')

In [11]:
# primeras 5 filas

fuentes.head()

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros,Per Capita
0,Afganistán,AFG,1750,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
1,Afganistán,AFG,1751,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
2,Afganistán,AFG,1752,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
3,Afganistán,AFG,1753,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
4,Afganistán,AFG,1754,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]

In [12]:
# ultimas 5 filas

fuentes.tail()

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros,Per Capita
63099,Global,WLD,2017,"CDIAC 2022, BP, and Sum of countries",CDIAC 2022 and BP,CDIAC 2022 and BP,CDIAC 2022 and BP,Andrew cement,CDIAC 2022 and GCP,[NONE],"CDIAC 2022, BP, Sum of countries, and UN popul..."
63100,Global,WLD,2018,"CDIAC 2022, BP, and Sum of countries",CDIAC 2022 and BP,CDIAC 2022 and BP,CDIAC 2022 and BP,Andrew cement,CDIAC 2022 and GCP,[NONE],"CDIAC 2022, BP, Sum of countries, and UN popul..."
63101,Global,WLD,2019,"CDIAC 2022, BP, and Sum of countries",CDIAC 2022 and BP,CDIAC 2022 and BP,CDIAC 2022 and BP,Andrew cement,CDIAC 2022 and GCP,[NONE],"CDIAC 2022, BP, Sum of countries, and UN popul..."
63102,Global,WLD,2020,"CDIAC 2022, BP, and Sum of countries",CDIAC 2022 and BP,CDIAC 2022 and BP,CDIAC 2022 and BP,Andrew cement,CDIAC 2022 and GCP,[NONE],"CDIAC 2022, BP, Sum of countries, and UN popul..."
63103,Global,WLD,2021,"CDIAC 2022, BP, and Sum of countries",CDIAC 2022 and BP,CDIAC 2022 and BP,CDIAC 2022 and BP,Andrew cement,CDIAC 2022 and GCP,[NONE],"CDIAC 2022, BP, Sum of countries, and UN popul..."

In [13]:
# aleatorias 

fuentes.sample(5)

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros,Per Capita
5111,Bielorrusia,BLR,1965,[NONE],[NONE],[NONE],[NONE],Andrew cement,[NONE],[NONE],UN population
58799,Ucrania,UKR,1797,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
15317,Dominicana,DMA,1835,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
35363,Mauritania,MRT,1753,[NONE],[NONE],[NONE],[NONE],Andrew cement,[NONE],[NONE],[NONE]
50019,Serbia,SRB,1993,[NONE],[NONE],[NONE],[NONE],Andrew cement,[NONE],[NONE],UN population

# **veremos intervalos**

In [14]:
# veremos las 4 primeras columnas


intervalo = pd.read_excel('emisiones_CO2.xlsx', sheet_name='emisiones_C02', engine='openpyxl', usecols='A:D')

In [15]:
intervalo

             País ISO 3166-1 alpha-3   Año         Total
0      Afganistán                AFG  1750  0.000000e+00
1      Afganistán                AFG  1751  0.000000e+00
2      Afganistán                AFG  1752  0.000000e+00
3      Afganistán                AFG  1753  0.000000e+00
4      Afganistán                AFG  1754  0.000000e+00
...           ...                ...   ...           ...
63099      Global                WLD  2017  3.609674e+10
63100      Global                WLD  2018  3.682651e+10
63101      Global                WLD  2019  3.708256e+10
63102      Global                WLD  2020  3.526409e+10
63103      Global                WLD  2021  3.712385e+10

[63104 rows x 4 columns]

In [16]:
# veremos las 4 primeas filas

intervalo23 = pd.read_excel('emisiones_CO2.xlsx', sheet_name='emisiones_C02', engine='openpyxl', usecols='A:D', nrows=10)

In [17]:
intervalo23

         País ISO 3166-1 alpha-3   Año  Total
0  Afganistán                AFG  1750      0
1  Afganistán                AFG  1751      0
2  Afganistán                AFG  1752      0
3  Afganistán                AFG  1753      0
4  Afganistán                AFG  1754      0
5  Afganistán                AFG  1755      0
6  Afganistán                AFG  1756      0
7  Afganistán                AFG  1757      0
8  Afganistán                AFG  1758      0
9  Afganistán                AFG  1759      0

# **Exportar archivo excel**

In [22]:
# Exportar archivo aqui soluciona problemas de escritura

intervalo.to_csv('intervalo.csv', index=False, encoding='utf-8-sig')

In [26]:
# Exportar archivo

intervalo.to_excel('intervalo.xlsx', index=False)

# **Importar google sheets**

In [31]:
# vinculo geenrado por googe sheets

# https://docs.google.com/spreadsheets/d/1-HYbAYVfLlsSEhBAIH48dWstkvZvpgyeHoVjXt7MOzo/edit?usp=sharing

# este es el ide del excel = 1-HYbAYVfLlsSEhBAIH48dWstkvZvpgyeHoVjXt7MOzo

# crear variable

sheet_id = '1-HYbAYVfLlsSEhBAIH48dWstkvZvpgyeHoVjXt7MOzo'

# reemplazomos en id queda mas corta 

url = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet'

# aqui es por hoja

url1 = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet=fuentes'

In [32]:
# leer el archivo

datos_co2_sheets = pd.read_csv(url)

In [33]:
datos_co2_sheets

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros,Per Capita
0,Afganistán,AFG,1750,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afganistán,AFG,1751,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afganistán,AFG,1752,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afganistán,AFG,1753,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afganistán,AFG,1754,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
63099,Global,WLD,2017,"36,096,739,276","14,506,973,805","12,242,627,935","7,144,928,128","1,507,923,185","391,992,176","302,294,047","4,749,682"
63100,Global,WLD,2018,"36,826,506,600","14,746,830,688","12,266,016,285","7,529,846,784","1,569,218,392","412,115,746","302,478,706","4,792,753"
63101,Global,WLD,2019,"37,082,558,969","14,725,978,025","12,345,653,374","7,647,528,220","1,617,506,786","439,253,991","306,638,573","4,775,633"
63102,Global,WLD,2020,"35,264,085,734","14,174,564,010","11,191,808,551","7,556,290,283","1,637,537,532","407,583,673","296,301,685","4,497,423"
63103,Global,WLD,2021,"37,123,850,352","14,979,598,083","11,837,159,116","7,921,829,472","1,672,592,372","416,525,563","296,145,746","4,693,699"

In [34]:
# leer el archivo

datos_co2_sheets1 = pd.read_csv(url1)

In [35]:
datos_co2_sheets1

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros,Per Capita
0,Afganistán,AFG,1750,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
1,Afganistán,AFG,1751,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
2,Afganistán,AFG,1752,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
3,Afganistán,AFG,1753,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
4,Afganistán,AFG,1754,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
...,...,...,...,...,...,...,...,...,...,...,...
63099,Global,WLD,2017,"CDIAC 2022, BP, and Sum of countries",CDIAC 2022 and BP,CDIAC 2022 and BP,CDIAC 2022 and BP,Andrew cement,CDIAC 2022 and GCP,[NONE],"CDIAC 2022, BP, Sum of countries, and UN popul..."
63100,Global,WLD,2018,"CDIAC 2022, BP, and Sum of countries",CDIAC 2022 and BP,CDIAC 2022 and BP,CDIAC 2022 and BP,Andrew cement,CDIAC 2022 and GCP,[NONE],"CDIAC 2022, BP, Sum of countries, and UN popul..."
63101,Global,WLD,2019,"CDIAC 2022, BP, and Sum of countries",CDIAC 2022 and BP,CDIAC 2022 and BP,CDIAC 2022 and BP,Andrew cement,CDIAC 2022 and GCP,[NONE],"CDIAC 2022, BP, Sum of countries, and UN popul..."
63102,Global,WLD,2020,"CDIAC 2022, BP, and Sum of countries",CDIAC 2022 and BP,CDIAC 2022 and BP,CDIAC 2022 and BP,Andrew cement,CDIAC 2022 and GCP,[NONE],"CDIAC 2022, BP, Sum of countries, and UN popul..."
63103,Global,WLD,2021,"CDIAC 2022, BP, and Sum of countries",CDIAC 2022 and BP,CDIAC 2022 and BP,CDIAC 2022 and BP,Andrew cement,CDIAC 2022 and GCP,[NONE],"CDIAC 2022, BP, Sum of countries, and UN popul..."

# **Practica**

In [36]:
# vinculo geenrado por googe sheets

# https://docs.google.com/spreadsheets/d/1EF7MODiulYwCUHpxmCN4aZzuzMDqIyRQQFqxpRIKTFo/edit?usp=sharing

# este es el id del excel = 1EF7MODiulYwCUHpxmCN4aZzuzMDqIyRQQFqxpRIKTFo

# crear variable

sheet_practica = '1EF7MODiulYwCUHpxmCN4aZzuzMDqIyRQQFqxpRIKTFo'

# reemplazomos en id queda mas corta 

url = f'https://docs.google.com/spreadsheets/d/{sheet_practica}/gviz/tq?tqx=out:csv&sheet'

In [37]:
# crear la variable

datos_practica_sheet = pd.read_csv(url)

In [38]:
datos_practica_sheet.head()

,Country Name,country_code,Region,Indicator Name,1990,1991,1992,1993,1994,1995,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2019.1
0,Aruba,ABW,Latin America & Caribbean,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,South Asia,CO2 emissions (metric tons per capita),"191,745,115","167,681,579","95,957,742","8,472,111","75,545,827","68,467,956",...,"29,650,624","259,295,334","18,562,366","146,235,617","172,896,741","149,789,334","131,694,556","1,632,953","159,824,372","159,824,372"
2,Angola,AGO,Sub-Saharan Africa,CO2 emissions (metric tons per capita),"553,661,955","544,538,649","543,557,223","70,898,423","836,804,405","912,141,485",...,"985,522,312","950,695,879","1,036,293,852","1,099,779,111","113,504,405","1,031,811,348","81,330,073","777,674,934","792,137,069","792,137,069"
3,Albania,ALB,Europe & Central Asia,CO2 emissions (metric tons per capita),"1,819,541,634","124,281,022","683,699,826","638,307,036","645,355,189","605,436,253",...,"166,942,319","150,324,046","1,533,630,039","1,668,337,371","160,377,515","1,557,664,358","1,788,786,074","1,782,738,948","169,224,832","169,224,832"
4,Andorra,AND,Europe & Central Asia,CO2 emissions (metric tons per capita),"7,521,831,658","723,537,924","69,630,787","6,724,177,518","6,541,578,914","6,733,479,486",...,"5,850,886,105","5,944,654,173","5,942,800,412","5,807,127,723","6,026,181,822","6,080,600,282","6,104,133,912","6,362,975,399","6,481,217,432","6,481,217,432"

In [39]:
datos_practica_sheet.tail()

,Country Name,country_code,Region,Indicator Name,1990,1991,1992,1993,1994,1995,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2019.1
210,Samoa,WSM,East Asia & Pacific,CO2 emissions (metric tons per capita),"55,283,574","609,756,098","604,266,119","658,221,486","592,806,881","705,674,802",...,"1,066,843,067","1,057,703,002","1,048,701,723","1,092,498,145","1,240,245,954","1,542,099,372","1,586,830,344","1,478,626,161","1,522,124,134","1,522,124,134"
211,"Yemen, Rep.",YEM,Middle East & North Africa,CO2 emissions (metric tons per capita),"56,703,735","690,937,429","704,793,064","627,104,927","653,255,714","706,080,534",...,"963,978,488","858,490,955","1,106,687,715","1,062,211,282","511,361,652","399,363,829","359,621,635","341,068,402","380,633,361","380,633,361"
212,South Africa,ZAF,Sub-Saharan Africa,CO2 emissions (metric tons per capita),"6,729,798,587","6,424,621,766","6,175,429,944","6,219,193,872","6,215,847,077","6,378,789,568",...,"7,869,815,906","8,077,957,969","8,138,264,312","8,212,241,156","7,669,937,662","7,563,739,495","7,641,675,086","7,515,678,605","7,507,736,092","7,507,736,092"
213,Zambia,ZMB,Sub-Saharan Africa,CO2 emissions (metric tons per capita),"340,929,635","349,232,211","33,722,439","289,956,061","241,269,619","234,153,214",...,"217,496,732","27,860,069","284,057,568","304,549,552","312,354,964","325,114,844","404,067,778","445,489,133","380,717,051","380,717,051"
214,Zimbabwe,ZWE,Sub-Saharan Africa,CO2 emissions (metric tons per capita),"1,585,443,976","1,713,321,439","1,694,415,977","1,539,740,958","1,417,186,242","135,661,892",...,"88,488,553","915,734,944","919,824,123","889,104,126","899,769,991","78,544,084","726,297,071","857,411,269","80,297,852","80,297,852"