# **Transformacion de datos con Pandas**

# **Problema de Negocio**

### Se trata de un algoritmo capaz de analizar las características de una propiedad -como comodidades, tamaño, ocupación del espacio en un período determinado- y sugerir al anfitrión un precio a cobrar por tarifas diarias que garantice ganancias en momentos de alta demanda.

In [1]:
# Leer el JSON

import pandas as pd

datos_hosting = pd.read_json('datos_hosting.json')

In [2]:
datos_hosting

                                       info_inmuebles
0   {'evaluacion_general': '10.0', 'experiencia_lo...
1   {'evaluacion_general': '10.0', 'experiencia_lo...
2   {'evaluacion_general': '10.0', 'experiencia_lo...
3   {'evaluacion_general': '10.0', 'experiencia_lo...
4   {'evaluacion_general': '10.0', 'experiencia_lo...
..                                                ...
65  {'evaluacion_general': 'nan', 'experiencia_loc...
66  {'evaluacion_general': 'nan', 'experiencia_loc...
67  {'evaluacion_general': 'nan', 'experiencia_loc...
68  {'evaluacion_general': 'nan', 'experiencia_loc...
69  {'evaluacion_general': 'nan', 'experiencia_loc...

[70 rows x 1 columns]